body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 2em;
    background-image: url("../img/codigo.jpg");
	background-size:cover;
    background-attachment: fixed;
    min-height: 100%;
	
}

#main-content {
    background-size:cover;
    min-height: 100%;
    width: 100%;
}
#main-content header,
#main-content .content {
    padding: 40px;
}

.contenedor{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    font-size: 2rem;
    justify-content: center;
    color:rgb(255, 255, 255);
}
.elemento{
    text-align: center;
    margin:2rem;
    color:white;
    font-size:2rem;
    padding: 2rem;
}

.contenido{
    
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    
    font-size: 2rem;
    align-items: center;
    
  }
  .descripcion{
    background-color: grey;
    display:grid;
    align-items: center;
    margin: 5rem;
    width:85%;
    color:#FFFFFF;
    font-size:2rem;
    padding: 2rem;
    grid-template:
    "texto contenedorImg"
    ;
  }

    
