*{
    margin: 0;
    padding: 0;
  }

  ul{
    list-style: none;
  }
  #menu li>a{

    background: #333;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: right;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }